# Credenciales Interledger
# ⚠️ CAMBIAR CON TUS PROPIAS CREDENCIALES DE https://ilp.interledger-test.dev

# Tu wallet principal (la que tiene la clave privada)
WALLET_ADDRESS_URL=https://ilp.interledger-test.dev/aledev
KEY_ID=30c571c4-3941-4221-8206-92eb2bedd81b

# Wallets de prueba (puedes usar las del tutorial)
SENDER_WALLET=https://ilp.interledger-test.dev/aliciadev
RECEIVER_WALLET=https://ilp.interledger-test.dev/bobdev

# Puerto del servidor
PORT=3000
